@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

[data-cellid] {
  width: 30px;
  height: 30px;
}

[data-status="1"] {
  background-color: black;
}
